.app{
  min-height:100vh;
  
  /* background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 14%, rgba(21,22,233,1) 72%, rgba(0,212,255,1) 100%); */
background: black;
color: white;
padding-top: 130px;
padding-bottom: 70px;

}
@media(max-width:700px){
  .app{
    padding-top: 70px;
  }
}